<div class="row">
  <div class="col-sm-12">
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th>ID</th>
          <th>Adres</th>
          <th>Kwota</th>
          <th>Szczegóły</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let el of orders">
          <td>{{ el.credentials }}</td>
          <td>{{ el.credentials | address }}</td>
          <td>{{ el.dishes | pricesSum }} zł</td>
          <td>Szczegóły</td>
        </tr>
      </tbody>

    </table>
  </div>
</div>

